<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:theme="@style/AppTheme.LibraryPreview">
        <activity
            android:name="xyz.aprildown.timer.flavor.google.BillingActivity"
            android:label="@string/billing_iap" />
    </application>

</manifest>
