<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name=".TimerBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="io.github.deweyreed.timer.BROADCAST_TIMER_CONTROL" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
