<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:theme="@style/AppTheme.LibraryPreview">

        <activity
            android:name=".TaskerEditActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/tasker_edit_title">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.joaomgcd.taskerpluginlibrary.action.BroadcastReceiverAction"
            android:exported="true"
            tools:ignore="ExportedReceiver"
            tools:node="remove">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BroadcastReceiverActionTweak"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
